// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定

//-------------------------------------------------------------顏色---------//
// 主站
$primaryColor:		#459795;//主色
$secondaryColor:	#0e488a;//輔色
$lightColor:		#efefef;//點綴
$linkColor:			#020202;//連結
$importantColor:	#e55c5c;//重要

//樂齡版
$primaryColor-2:   #60b2b0;
$lightColor-2:     #bcf0ee;
$lightColor-3:     #9ef9f6;
$linkColor-2:      #279491;



$color-blue: 		#6c90f8;
$color-green:		#5CB85C;
$color-orange: 		#F77810;
$color-red: 		#FF3E4D;
$color-yellow: 		#FCC211;
$color-purple: 		#AA5AC5;
$color-gray: 		#9e9e9e;
$color-lightGray:   #f1f1f1;
$color-dark: 		#333;
$color-hr:			#666;	//hr顏色
$color-word:		#333;   //一般字的顏色
// 連結顏色
$aColor:			$secondaryColor;
$aHover:			darken($aColor,10);

$buttonColor:     #e3e3e3;

// 表單focus顏色
$form-focus:	$importantColor;	//表單
$form-btn:		#000;				//表單
//-------------------------------------------------------------字型--------//

// 字型設定
$font-family: Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體, Arial, sans-serif;
$font-size:	1em;

//-------------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns:          12 !default;			   //格線欄位數
$grid-gutter-width:     30px !default;			   //左右padding
$container-max:         1100px !default;		   //container最大寬

//mediaquery
$screen-lg:        		1400px !default;  	       //電腦
$screen-md:        		992px  !default;      	   //平板
$screen-sm:        		768px  !default;     	   //手機
$screen-xs:        		576px  !default;      	   //極小尺寸

//-------------------------------------------------------------客製化------//
$fatfooter-length:		7;						   //fatfooter選單一行個數
$fatfooter-length-2:    5;							//樂齡版fatfooter選單一行個數
$fatfooterBgColor: 		$primaryColor; 				//fatFooter 底色

//-------------------------------------------------------------客製化------//

$rounded-angle:             10px;					   //整站導角









