.breadcrumb {
    border-bottom: 1px solid #ccc;
    padding: .8em 0em .65em;
    font-size: .813em;
    margin: 0px auto 5px;
    @include screen('mobile'){
        padding: .2em 0em .1em;
    }
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }
        }
    }
    a {
        @include aSetting_nocolor;
    }
}