.fatfooter {
    @include make-fatfooter($fatfooter-length, 100%);
    @extend %clearfix;
    //overflow: hidden;
    padding-bottom: 1em;
    margin: 0 auto;
    background: $fatfooterBgColor;
    position: relative;
    z-index: 50;
    //   @include screen('mobile') {
    //     display: none;
    // }
    .container {
        //overflow: hidden;
        @include box-sizing;
    }
    // 按鈕
    .btn-fatfooter {
        font-size: 1em;
        display: block;
        color: #FFF;
        border: none;
        position: absolute;
        left: 1.5em;
        top:2.8em;
        z-index: 90;
        padding:0;
        min-width: auto;
        background: none;
        transform: rotate(90deg);
        transform-origin: top left;
        text-transform:lowercase;
        font-family: Optima, serif;
        font-weight: bold;
        @media screen and (max-width: 1100px){
            left:2.2em;
            text-align:left;
        }
        @include screen('tablet'){
            padding: 0 1em;
        }
        &:before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border: 1px solid #FFF;
            border-left: none;
            border-bottom: none;
            transform: rotate(-135deg);
            left: 0;
            top: 1.3em;
            transition: .3s ease-out;
            z-index: 20;
            @include screen('mobile'){
                top:1em;
            }
        }
        &:hover,
        &:focus {
            //background: darken($aHover, 10);
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            border: none;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
        }
        &.close {
            @include screen('mobile'){
                top:calc(100% - 6.7em);
            }
            &:before {
                transform: rotate(45deg) !important;
                left:calc(100% - 10px);
                @media (min-width:768px) and (max-width: 991px){
                    left:100%;
                }
            }
        }
    }
    nav {
        overflow: hidden;
        display: block;
        position: relative;
        padding:0 0 0 4em;
        margin: 3em 0 2em 0;
        min-height: 80px;
        //box-shadow: inset 1px 0 0 0 #fff;
        border-left:1px solid #fff;
        @include box-sizing;
        @media screen and (max-width: 1100px){
            margin-left: .67em;
        }
        @include screen('mobile') {
            padding: 1em 1em 1em 2.5em;
            margin-left: 1em;
        }
        ul {
            @include li-reset;
            @include screen('mobile') {
                width: 100%;
                display: block;
                margin: 0px auto 1em;
            }
            li {
                display: inline-block;
                text-align: left;
                vertical-align: top;
                margin: 0 -5px 0 0;
                @include box-sizing;


                a {
                    line-height: 1.2;
                    display: block;
                    font-weight: bold;
                    padding: 0 0 .5em 0;
                    color:#fff;
                    @include box-sizing;
                    &:hover, &:focus{
                        color:#fcfbdd;
                        text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
                    }
                }
                ul {
                    margin-top: 0;
                    @include screen('mobile') {
                        width: auto;
                    }
                    li {
                        display: block;
                        margin: 0;
                        border: none;
                        background: none;
                        width: 100%;
                        @include screen('mobile') {
                            display:inline-block;
                            width:auto;
                        }
                        a {
                            display: block;
                            color: #caffe2;
                            text-decoration: none;
                            text-align: left;
                            font-size: .875em;
                            line-height: 1.5em;
                            padding: .2em 1em .2em 0;
                            background: none;
                            @include screen('mobile') {
                                padding:.3em .2em;
                            }
                            &:hover, &:focus{
                                color:#fff;
                            }
                        }
                    }
                    //第三層關閉
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
}