.thumbnail {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #FFF;
    transition: all .3s;

    &:hover {
        .img-container {
            img {
                transform: scale(1.1);
            }
        }
    }

    a {
        display: block;
        @include aSetting(#555);
        position: relative;

        &:focus {
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                box-shadow: 0px 0px 0px 1px $aHover inset;
            }
        }
    }

    .img-container {
        @include aspect-ratio(4, 3);
        margin-bottom: .5em;

        img {
            transition: all .5s;
            transform: scale(1);
        }
    }

    h2,
    h3,
    h4 {
        margin: .2em 0;
    }

    .caption {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 1em;

        time {
            font-size: .813em;
        }
    }

    .btn_grp {
        padding: .2em 0;
        @extend %clearfix;
    }

    hr {
        width: 90%;
        margin: .1em auto 1em;
    }
}