//樂齡版
.older {
    overflow-x: hidden;

    &:before {
        content: "";
        position: absolute;
        top: -120px;
        left: -5%;
        width: 110%;
        height: 350px;
        border-radius: 0 0 50% 50%;
        background-color: $primaryColor-2;
        background-image: url(../images/flower_w_01.png),
            url(../images/flower_w_05.png);
        background-repeat: no-repeat;
        background-position: top 100px left 40%,
            top 0 right calc(5% - 370px);
        z-index: 1;
        @include screen('mobile'){
		    background-image: url(../images/flower_w_01.png);
		}
    }

    &:after {
        content: "";
        position: absolute;
        top: -120px;
        left: -5%;
        width: 110%;
        height: 350px;
        border-radius: 0 0 30% 30%/8%;
        background: $lightColor-3;
        z-index: 0;
    }

    .user {
        ul {
            li {
                a {
                    background: #fff;
                    color: $linkColor-2;
                    transition: .3s ease-in;
                    &:hover{
                    	background: $secondaryColor;
                    	color: #fff;
                    }
                }
            }
        }
    }

    .header {
        margin-bottom: 2em;
        @include screen('mobile'){
        	background: $primaryColor-2;
        }

        h1 {
            width: 380px;
            height: 60px;
            @include screen('mobile'){
            	width: 100%;
            }

            a {
                width: 100%;
            }

            img {
                max-width: 380px;
            }
        }

        .navigation {

            li {
                &:before {
                    background: #fff;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
                }

                a {
                    color: #fff;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
                    font-size: 1.125rem;
                }
            }
        }
        >.container{
        	.sidebarCtrl{
        		span{
        			background: $lightColor-2;
        		}
        	}
        }
    }

    .search {
        .form_grp {
            width: 320px;
            height: 40px;      
            input[type="text"]{
            	box-shadow: 3px 0 3px rgba(121, 102, 84, .25);
            }
            input[type="submit"]{
            	background: $secondaryColor;
            	line-height: 40px;
            	padding: 0 .5em;
            	&:hover{
            		background: darken($secondaryColor, 10);
            	}
            }
        }
        select{
        	box-shadow: 0 0 3px rgba(121, 102, 84, .25);
        }
    }

    //選單
    .menu {
        >ul {
            >li {
                &:after {
                    color: #fff;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
                    top: 1.2em;
                }

                >a {
                    color: #fff;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
                    font-size: 1.5em;
                }
            }
        }
    }

    .main {
    	@include screen('mobile'){
    		padding-top: 70px;
    	}

        h2 {
            font-size: 1.875em;
            font-family: $font-family;
            text-align: center;           
        }
    }

    .mp {
        h2 {
        	position: relative;
            border-radius: 50px;
            background: $secondaryColor url(../images/older/icon_book1.svg) no-repeat center;
            background-size: 20px;
            display: inline-block;
            padding: .4em 1em;
            color: #fff;
            &:after {
                content: "";
                position: absolute;
                border-radius: 3px;
                width: 20px;
                height: 20px;
                background-color: $secondaryColor;
                transform: rotate(45deg);
                bottom: -6px;
             	left: 50%;
             	margin-left: -10px;   
            }

            span {
                margin: 0 .5em;
            }
        }
        >section{
        	&.ad{
        		padding: 1em 0 4em 0;
        	}
        }
        
    }

    .tabs {
        .tabItem {
        	padding: 0 .25em;
        	background: none;
        	@include screen('mobile'){
        		padding: 0; 
        	}
            >a {
                background-color: $lightColor-2;
                border-radius: 30px;
                color: $linkColor-2;
                padding: .5em .8em;
                z-index: 1;
                transition: .3s ease-in;
            }
            &:hover{
            	>a{
            		background-color: $secondaryColor;
                    color: #fff;
            	}
            }

            &.active {
                >a {
                    background-color: $secondaryColor;
                    color: #fff;
                }

                &:after {
                    content: "";
                    border: 0;
                    border-radius: 3px;
                    width: 20px;
                    height: 20px;
                    background-color: $secondaryColor;
                    transform: rotate(45deg);
                    bottom: -6px;

                }
            }
        }
        h2{
        	&:after{
        		content: none;
        	}
        }

    }

    .book_display {
    	margin-bottom: 2em;

        &:before {
            right: calc(50% + 130px);
            top: 50px;
            width: 460px;
            height: 145px;
            background: url(../images/bg_dot.png);
            @include screen('mobile'){
            	content: none;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 1em;
            right: 0;
            width: 42%;
            height: 150px;
            background: url(../images/bg_dot.png);
            @include screen('mobile'){
            	content: none;
            }
        }

        .tabs {
            .tabItem {

                @include screen('mobile'){
                	max-width: 100%;
                }
            }
        }

        .tabSet {
            position: relative;
            z-index: 1;
        }

        .tabs {
            .tabItem {
                >a {
                    background: $lightColor-2 url(../images/older/icon_book2.svg) no-repeat center;
                    background-size: 20px;
                }

                &:hover, &.active {
                    >a {
                        background: $secondaryColor url(../images/older/icon_book1.svg) no-repeat center;
                        background-size: 20px;
                    }
                }
            }
        }

        .book_name {
            font-size: 1.125em;
            max-width: calc(100% - 30px);
            max-height: 46px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .subject{
    	padding-bottom: 4em;
    	position: relative;
    	&:before{
			content:"";
		    position: absolute;
		    left: -50px;
		    top: 45px;
		    width: 40%;
		    height: 60px;
		    background: url(../images/bg_dot4.png) repeat-x;
		}
		&:after{
			content:"";
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    width: 60%;
		    height: 60px;
		    background: url(../images/bg_dot4.png) repeat-x;
		}

    	>.container{
    		text-align: center;
    		@media screen and (max-width: 1200px){
    			@include gutter();
    		}
    	}
    	.subject_content{
    		display: flex;
    		flex-wrap: wrap;
    		justify-content: space-between;
    		margin: 1em 0;
    		@include screen('mobile'){
    			justify-content: space-around;
    		}
    	}
    	.subject_block{
    		background: #fff;
    		border-radius: 30px;
    		box-shadow: 0 0 35px rgba($primaryColor-2, .2);
    		flex-basis: calc(25% - 30px);
    		max-width: 250px;
    		display: flex;
    		align-items: center;
    		justify-content: center;
    		transition: .3s ease-in;
    		margin-bottom: 1em;
    		padding: 1.2em 0;
    		@include screen('tablet'){
    			flex-basis: calc(25% - 20px);
    			max-width: calc(25% - 20px);
    		}
    		@include screen('mobile'){
    			flex-basis: calc(50% - 30px);
    			max-width: calc(50% - 30px);
    		}
    		@include screen('xs_mobile'){
    			flex-basis: calc(100% - 30px);
    			max-width: calc(100% - 30px);
    		}
    		&:hover{
    			box-shadow: 0 0 20px rgba($primaryColor-2, .5);
    		}
    		img{
    			max-width: 80%;
    			height: auto;
    			// @include screen('tablet'){
    			// 	max-width: 200px;
    			// }
    			// @include screen('mobile'){

    			// }
    		}
    	}

    }

    //最新消息
    .news {
        .tabs {
            .tabItem {

                >a {
                    font-size: 1.375rem;
                }

                &.active {
                    &:after {
                        content: "";
                        width: 12px;
                        height: 12px;
                        border-radius: 2px;
                        transform: rotate(45deg);
                        bottom: -5px;
                        margin-left: -6px
                    }
                }
            }
        }

        .tabContent {
            li {
                a , time {
                	font-size: 1.25em;
                }
            }
            .township_tag{
            	font-size: 1.125em;
            	&:after{
            		bottom: -1.1em;
            	}
            }
        }
    }

    //廣告輪播
    .ad{
    	position: relative;
    	&:before{
			content:"";
		    position: absolute;
		    left: 0;
		    top: -15px;
		    width: calc(50% - 200px);
		    height: 140px;
		    background: url(../images/bg_dot.png);
		    @include screen('mobile'){
		    	width: calc(50% - 150px);
		    }
		}
		&:after{
			content:"";
		    position: absolute;
		   	right: -0;
		    bottom: -80px;
		    width: calc(50% - 200px);
		    height: 140px;
		    background: url(../images/bg_dot.png);
		    @include screen('mobile'){
		    	width: calc(50% - 150px);
		    }
		}
    	>.container{
    		text-align: center;	
    	}
    	h2{
    		margin-bottom: 2em;
    	}
    }

    .more {
        float: none;
        margin: 1.5em auto 1em auto;
        font-size: 1.25em;

        &:before {
            bottom: 1px;
        }
    }
    .fatfooter{
    	@include make-fatfooter($fatfooter-length-2, 100%);
    	background: none;
    	>.container{
    		background: $primaryColor;
    		@include gutter();
    	}
    	.btn-fatfooter{
    		left: 2.3em;
    		top: 2.45em;
    		@media screen and (max-width: 1100px){
    			left: 2.9em;
    		}
    	}
    	nav{
    		ul{
    			li{
    				a{
    					font-size: 1.125em
    				}
    				ul{
    					li{
    						a{
    							font-size: 1.125em;
    						}
    					}
    				}
    			}
    		}
    	}
    }
    footer{
    	.Copyright{
    		font-size: 1em;
    	}
    	.footer_bottom{
    		font-size: 1em;

    	}
    }

    //麵包屑
    .breadcrumb{
    	font-size: 1em;
    }

    div.function{
    	ul{
    		li{
    			a{
    				font-size: 1em;
    			}
    		}
    	}
    }

    .thumbnail{
    	h3{
    		font-size: 1.375em;
    	}
    	.caption{
    		time{
    			font-size: 1em;
    		}
    	}
    }
    .innerpage{
    	background: none;
    }

    %btn{
    	font-size: ($font-size*1.125);
    }
    // 文字列表
    .list{
    	font-size: 1.125em;
    }
    //頁碼
    .pagination{
    	font-size: 1.125em;
    }
    .lp{
    	.link_grp{
    		li{
    			a{
    				font-size: 1.125em;
    			}
    		}
    	}
    }
    .books_list{
    	.caption{
    		p{
    			font-size: 1.125em;
    		}
    	}
    }
}